body {
  background: lightblue;
}
h1 {
  font-family: Arial;
}
.informacion ul a {
  color: gray;
  font-size: 18px;
}
.informacion {
  box-shadow: 0px 0px 10px black;
  text-shadow: 0px 0px 5px black;
}
h1 {
  font-size: 37px;
}
h1 {
  color: blue;
}
