@font-face{
    font-family:GorditasFuenteCustom;
    src:url(fonts/Gorditas/Gorditas-Regular.ttf)
}
h1{
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-family: 'Dancing Script', cursive;
    text-transform: uppercase;
    font-size: 55px;

    /*Colores*/
/*Colores del sistema*/
color:purple;

/*Colores hexadecimales*/
color:#D2691E;
/*Colores RGB*/
color:rgb(0, 0, 255);
/*Colores RGBA*/
color:rgba(255, 100, 71, 0.5);

}


h3{
    font-family:GorditasFuenteCustom, Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
}
p{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 18px;
    font-weight: bold;
}
