*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1{
    background: indianred;
    color: ivory;
    padding: 10px;
}
a{
    font-size: 18px;
    color: green;
    text-decoration: none;
}

#descripcion{
    border: 1px solid black;
}
.parrafo{
    font-style: italic;
    text-decoration: underline;
    font-weight: bold;
}
#usuario form{
    border: 5px solid red;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 20px;

}
#usuario form *{
    display: block;
}

input[type="text"]{
    margin-bottom: 15px;
    padding: 15px;
    width: 300px;
}
input[type="submit"]{
    background: green;
    color: white;
    padding: 15px;
    font-size: 17px;
    text-transform: uppercase;
    border: 1px solid black;
    cursor:pointer;
}
#menu > li > a{
    font-size: 18px;
    color: royalblue;
    text-decoration: none;

}
