#boton{
    display: block;
    padding: 20px;
    background-color: green;
    color: white;
    width: 200px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    text-decoration: none;
    border: 5px solid rgb(56, 82, 56);
    transition: all 500ms;
}
#boton:hover{
    border-radius: 15px;
    background: orange;
    border: 5px solid red;
}
#caja{
    margin-top: 25px;
    width: 250px;
    height: 250px;
    background: green;
    color: white;
    border: 5px solid rebeccapurple;
    font-size: 20px;
    text-align: center;
    line-height: 200px;
    animation-name:desplazamiento;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

}
@keyframes desplazamiento{
    0%{

       margin-left: 0px;
       transform: rotate(0deg);
    }
    50%{
        margin-left: 1200px;
        transform: rotate(360deg);
        border-radius: 999px;
    }
    75%{
        background: red;
    }
    0%{
        margin-left: 0px;
        transform: rotate(0deg);
    }

}