*{
    margin: 0px;
    padding: 0px;
}
.caja{
    width: 250px;
    height: 250px;
    border: 10px solid red;
    background-color:rebeccapurple;
    margin: 15px;
    margin-top: 15px;
    margin-bottom: 40px;
    margin-left: 24px;
    margin-right: 10px;
    padding: 20px;
    padding-bottom: 34px;
    float: left ;
    display: block;


}
body{
    padding: 40px;
}
#cajas{
    max-width: 1035px;
}

.caja p{
    font-weight: bold;
    text-align: center;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 230px;
}
.clearfix{
    float: none;
    clear: both;
}