body {
    --rojo: red;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

#layout {
    display: flex;
    /*
    flex-direction: row;
    flex-wrap: wrap
    */
   flex-flow: row wrap;
   justify-content: space-around;
   height: 700px;
   align-items: center;

    border: 3px solid black;
    padding: 5px;
}

.caja {
    /*flex-grow: 1;*/
    /*flex-basis: calc((100% / 3) - 68px);*/

    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: white;
    padding: 20px;
    border: 4px solid #222;
    margin: 10px;
    background: gray;
}

.red {
    /*order: 1;*/
    /*flex-grow: 4;*/
    align-self: flex-start;
    background: var(--rojo);
}

.green {
    align-self: center;
    /*order: -1;*/
    background: green;
}

.blue {
    align-self: center;
    /*order: 2;;*/
    /*flex-grow: 0;*/
    background: blue;
}

.orange {
    /* order: 3;*/
    /*flex-basis: 100%;*/
    align-self: flex-end;
    background: orange;
}