body{
    background-color: antiquewhite;
    /*
    background-image: url(img/patron5.jpg);
    background-repeat:no-repeat;
    background-size: 140%;
    background-attachment: fixed;
    background-position:right bottom;
    */
    color: black;
    text-indent: 15px;
    
}
#caja{
    border: 5px solid black;
    padding: 10px;
    background-color: rgb(85, 203, 207);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    line-height: 50px;
    text-transform:uppercase ;
    text-decoration: underline;
}
h2{
    background: white;
    border: 5px solid black;
    background-image: url(img/patron2.jpg);
}