/*
EJERCICIO CON HTML Y CSS
1.Crear documento HTML y vincularlo con CSS
2.Crear estructura HTML que cuente con contenedor general,HEADER,MENU
,BARRA LATERAL,SECCION DE CONTENIDO PRINCIPAL,ELEMENTOS DENTRO DEL 
CONTENIDO RPINCIPAL,FOOTER
3.Todo el contenido debe estar dentro del contenido general  y su ancho
sera de 1200px y estar centrado
4.Header debe ocupar 100%del ancho y tener texto grande centrado 
5.El menu debe tener elementos uno al lado del otro 
6.El contenido principal debe tener ancho del 70% 
7.El contenido dentro del contenedor principal debe ser una cuadricula 
4 lineas de 2 cajas
8.La barra lateral debe tener un ancho del 30%
9.El footer debe tener ancho del 100% del div que lo contiene y estar 
abajo del todo
*/

*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#general{
    width: 1200px;
    margin: 0px auto;
    margin-top: 20px;
    border: 1px solid gray;
}
#header{
    width: 100%;
    height: 100px;
    background: rgb(70, 70, 192);
    color: white;
    text-align: center;
    line-height: 90px;
}

.clearfix{
    float:none;
    clear: both;
}

#menu{
    background-color: wheat ;
}
#menu ul li{
     /*display: inline-block;*/
     display: block;
     float: left;
     
    border-right: 1px solid rebeccapurple;
}
#menu ul li a{
    color: firebrick;
    display: block;
    padding: 15px;
    
}


#menu ul li a:hover{
    color:  rgb(70, 70, 192);
    cursor: pointer;

}
#contenido{
    width: 69%;
    
    float: left;
}
#lateral{
    float: left;
    width: 30%;
    border: 1px solid red;
    min-height: 500px;
    max-height: 650px;
    text-align: center;
    overflow-y: scroll;


}

#contenido > h1{
    text-align: center;
    border-bottom: 1px solid gray;
    padding: 15px;
    color:indianred;
    text-shadow: 1px 1px 2px dodgerblue;

}
#contenido .caja{
    width: 40%;
    height: 250px;
    background-color:gray;
    border: 5px solid rgb(128, 128, 160);
    color: white;
    float: left;
    margin: 20px;
    margin-left: 40px;
    text-align: center;
    line-height: 200px;
    color: #444;
    text-transform: uppercase;
    box-shadow: 0px 0px 15px deepskyblue;
    border-radius: 50px;

}
footer{
    width: 100%;
    height: 55px;
    line-height: 55px;
    background: lightblue;
    text-align: center;
    color: lightseagreen;
    border-top: 1px solid royalblue;
    

}
.libre {
    position: absolute;
    top:300px;
    left: 50%;
    border: 1px solid black;
    background-color: red;
    color: white;
    width: 50px;
    height: 50px;
    font-size: 13px;
}
.libre1{
    z-index: 102;
}
.libre2{
    background-color: green;
    top: 280px;
    left: 52%;
    z-index: 101;
}
.fija{
    position: fixed;
    top:50%;
    left: 0px;
    border: 1px solid black;
    background-color: blue;
    color: white;
    width: 50px;
    height: 50px;
    font-size: 13px;
}


