*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
ul li{
    font-size: 20px;
}

ul li:first-child{
    color: cadetblue;
    font-weight: bold;
}

ul li:nth-child(2){
    color: red;
    font-weight: bold;
}
ul li:last-child{
    color: gold;
    font-weight: bold;
}
#mi-enlace{
    font-size: 30px;
    color: green;
}

#mi-enlace:link{
    color: red;
}
#mi-enlace:visited{
    color:orange;
}
#mi-enlace:hover{
    color: blue;
}
#mi-enlace:active{
    color: rgb(153, 94, 94);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
input[type="text"]{
    margin-top: 20px;
    padding: 10px;
}

input[type="text"]:focus{
  border: 4px dashed rebeccapurple;
}